html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Screenshot
    link(rel='stylesheet', href='/stylesheets/mycss.css')
    link(rel='stylesheet', href='/toastr/build/toastr.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')

    body
        .background
          .container
              .screen
                div
                  button.button#btnAdd Add URL
                  div
                    table#table(style='width: 100%')
                  button.button#btnScreenShot Take the Screenshot
                  button.button#btnDownload Download
        .background
          .container
              .screen
                div
                  div
                    table#tableSitemap(style='width: 100%')
                  button.button#btnSitemap Take the Screenshots
                  button.button#btnDownloadSitemap Download          

    //jquery
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='toastr/toastr.js')
    script.
      var s = 0;
      var data = [];

      $('#table').append('<input id=' + "url_" + s + ' placeholder="' + " Enter URL to Screenshot" + '", class="input"></input><input id=' + "delay_" + s + ' placeholder="' + " Delay #" + '", type="' + "number" + '", class="inputb"></input>')
      s++;

      $('#tableSitemap').append('<input id="txtSitemap" placeholder="' + " Enter Sitemap URL to Screenshot" + '", class="input"></input><input id="txtSitemapDelay" placeholder="' + " Delay #" + '", type="' + "number" + '", class="inputb"></input>')


      $('#btnAdd').click(function (e) {
        e.preventDefault();
        $('#table').append('<input id=' + "url_" + s + ' placeholder="' + " Enter More URL to Screenshot" + '", class="input"></input><input id=' + "delay_" + s + ' placeholder="' + " Delay #" + '", type="' + "number" + '", class="inputb"></input>')
        s++;
      })
      $('#btnScreenShot').click(function (e) {
        e.preventDefault();
        for(i = 0; i < s; i++){
          var doc = document.getElementById('url_' + i).value.trim();
          var delayNumber = document.getElementById('delay_' + i).value;
          if(!delayNumber || delayNumber < 0 || delayNumber > 10) {delayNumber = 0}
          if(!doc){toastr.info("Empty Input")}
          toastr.info("Screenshot for: " + doc);
          data.push({delay: delayNumber, url: doc})
          $.post('/hey', data[i])
                  .done(function (returnValue) {
                    if(returnValue){
                      console.log("Success")
                      toastr.info("Success");
                    }
                  })
        }
        console.log(data)
      })
      $('#btnDownload').click(function (e) {
        e.preventDefault();
        $.post('/heyy')
                .done(function (returnValue) {
                console.log(returnValue)
                if(returnValue){
                  console.log("Downloaded!")
                  toastr.info("Downloaded!");
                }else{
                  toastr.warning("No File to Download")
                }
              })
      })
      $('#btnDownloadSitemap').click(function (e) {
        e.preventDefault();
        $.post('/heyy')
                .done(function (returnValue) {
                console.log(returnValue)
                if(returnValue){
                  console.log("Downloaded!")
                  toastr.info("Downloaded!");
                }else{
                  toastr.warning("No File to Download")
                }
              })
      })
      $('#btnSitemap').click(function (e) {
          e.preventDefault();
          var doc = document.getElementById('txtSitemap').value.trim();
          var time = document.getElementById('txtSitemapDelay').value.trim();
          if(!time || time < 0 || time > 10) {time = 0}
          if(!doc) {
            toastr.info("Empty Input")
          } else{
            toastr.info("Screenshot for: " + doc);
            $.post('/heyyy', {url: doc, delay: time})
                    .done(function (returnValue) {
                    if(returnValue){
                      console.log("Success")
                      toastr.info("Success");
                    }
                  })
          }
      })    